.file-upload-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  align-content: center;
  h1 {
    text-align: center;
  }
  .header {
    height: 50px;
    padding: 10px 20px;
    .username {
      text-align: left;
      float: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      .icon {
        font-size: 30pt;
      }
    }
    .logout {
      text-align: right;
      float: left;
    }
  }
  .file-upload-container {
    border: 2px dashed black;
    margin: 40px;
    .file-upload {
      border-right: 1px solid black;
      height: 100%;
      text-align: center;
      width: 100%;
      float: left;
      padding: 10px 0px;
      .file-upload-title {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      .icon-container {
        .icon {
          font-size: 50pt;
          color: #224c8a;
        }
      }
      :hover {
        background-color: white;
      }
      .upload-hint {
        font-size: x-small;
        height: 20px;
        color: black;
      }
    }

    .column-list {
      width: 100%;
      float: left;
      text-align: center;
      height: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      align-content: center;
      .column-list-title {
        width: 100%;
      }
      .column-list-selector {
        width: 100%;
      }
    }
  }
  .questionaire-container {
    width: 100%;
    border: 1px solid grey;
    margin: 0px 20px;
    padding: 0px 30px;
    h5 {
      text-align: center;
      font-style: italic;
      font-weight: normal;
      margin-top: 0px;
    }
    h3 {
      text-align: center;
      margin-bottom: 0px;
    }
  }
  .generate-button {
    height: 10vh;
    vertical-align: middle;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    .upload-button {
      color: white;
      background-color: #224c8a;
    }
    :disabled {
      background-color: darkgray;
      color: gray;
    }
  }
}
